body {
    background: aliceblue;
}

.github-user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-user img{
    max-height: 15vh;
    border-radius: 50%;
    margin: 0 4% 0 0;
}